<!--
  Generated template for the DespachoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar text-center color="primary">
        <ion-title>Despacho Asignado Actualmente</ion-title>
        <ion-buttons end>
            <button ion-button (click)="salirLogin()">
                <ion-col>Salir</ion-col>
                <ion-icon name="exit"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

    <ion-card *ngIf="!viajeService.existe">
        <img src="assets/imgs/card-map.png" />
        <div class="card-title" color="primary">No hay asignaciones de ruta</div>
        <div class="card-subtitle">por favor espere mientras se le asigna una nueva</div>
    </ion-card>


    <ion-card text-center *ngIf="viajeService.existe">

        <ion-row align-items-center>

            <ion-col>
                <ngx-gauge foregroundColor="green" [max]="gaugeMaxDistancia" [size]="gaugeSize" [thick]="gaugethick" [type]="gaugeType" [value]="viajeService.viaje.ruta.distancia.value/1000 | number:'1.0-1'" label="Distancia" append="Km">
                </ngx-gauge>
            </ion-col>

            <ion-col>
                <ngx-gauge foregroundColor="green" [max]="gaugeMaxMinutos" [size]="gaugeSize" [thick]="gaugethick" [type]="gaugeType" [value]="viajeService.viaje.ruta.duraccion.value/60 | number:'1.0-1'" label="Duraccion" append="min">
                </ngx-gauge>
            </ion-col>

            <ion-col>
                <ngx-gauge foregroundColor="red" [max]="gaugeMaxControles" [size]="gaugeSize" [thick]="gaugethick" [type]="gaugeType" [value]="viajeService.viaje.ruta.puntosControl.length" label="Controles" [append]="gaugeAppendText">
                </ngx-gauge>
            </ion-col>

            <ion-col>
                <ngx-gauge foregroundColor="red" [max]="gaugeMaxControles" [size]="gaugeSize" [thick]="gaugethick" [type]="gaugeType" [value]="viajeService.viaje.ruta.puntosControl.length" label="Paradas" [append]="gaugeAppendText">
                </ngx-gauge>
            </ion-col>

        </ion-row>


        <ion-card-header>
            {{viajeService.viaje.ruta.nombre}}
        </ion-card-header>

        <ion-row align-items-center>

            <ion-col>
                <ion-item>
                    <ion-icon name="information-circle" item-start large></ion-icon>
                    <h2>Operario</h2>
                    <p><strong>{{viajeService.viaje.asignacion.operario.nombre}}</strong></p>
                </ion-item>

            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-icon name="information-circle" item-start large></ion-icon>
                    <h2>Vehiculo</h2>
                    <p><strong>{{viajeService.viaje.asignacion.vehiculo.interno}}</strong></p>
                </ion-item>

            </ion-col>

        </ion-row>
        <ion-row align-items-center>

            <ion-col>
                <ion-item>
                    <ion-icon name="information-circle" item-start large></ion-icon>
                    <h2>Hora de salida Asignada</h2>
                    <p><strong>{{viajeService.viaje.horaSalidaAsignada | date:'mediumTime'}}</strong></p>
                </ion-item>

            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-icon name="information-circle" item-start large></ion-icon>
                    <h2>Hora de llegada Calculada</h2>
                    <p><strong>{{viajeService.viaje.horaLlegadaAsignada | date:'mediumTime'}}</strong></p>
                </ion-item>

            </ion-col>

        </ion-row>
        <ion-row align-items-center>

            <ion-col>
                <ion-item>
                    <ion-icon name="information-circle" item-start large></ion-icon>
                    <h2>El viaje Inicia en</h2>
                    <p><strong>{{viajeService.viaje.ruta.origen.direccion}} ({{viajeService.viaje.ruta.origen.nombre}})</strong></p>
                </ion-item>

            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-icon name="information-circle" item-start large></ion-icon>
                    <h2>El viaje termina en</h2>
                    <p><strong>{{viajeService.viaje.ruta.destino.direccion}} ({{viajeService.viaje.ruta.destino.nombre}})</strong></p>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <span item-start>Tiempo disponible :</span>
                    <span item-start>( {{viajeService.tiempoDisponible / 3600 | number:'2.0-0'}} : {{(viajeService.tiempoDisponible % 3600) / 60 | number:'2.0-0'}} : {{viajeService.tiempoDisponible % 60 | number:'2.0-0'}} )</span>
                    <button ion-button icon-start large item-end (click)="iniciarViaje()">
                      <ion-icon name="navigate"></ion-icon>
                      Iniciar
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>


    </ion-card>


</ion-content>