<ion-header>
    <ion-toolbar color="tabs">


        <ion-buttons>
            <button ion-button>
                        <ion-icon name="contact" style="font-size: 30px;"></ion-icon>
                        <ion-col>
                            {{this.operarioService.operario.nombre}}
                        </ion-col>
                    </button>

            <button ion-button>
                        {{this.operarioService.operario.empresa.nombre}}
                    </button>
            <button ion-button>
                        <span style="font-size: 30px;">{{fechaHora | date:'H:mm:ss'}}</span>
                    </button>
            <button ion-button>
                        <span>{{fechaHora | date:'dd-MMM-yyyy'}}</span>
                    </button>
            <button ion-button>
                    <ion-icon *ngIf="io.ioSocket.connected" name="checkmark-circle" color="secondary" style="font-size: 30px;"></ion-icon>
                    <ion-icon *ngIf="io.ioSocket.disconnected" name="close-circle" color="danger" style="font-size: 30px;"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button icon-right large (click)="terminarViaje()">
                Terminar viaje
                <ion-icon name="exit" style="font-size: 30px;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content>


    <ion-tabs tabsHighlight="true" tabsPlacement="top" color="primary">
        <ion-tab tabIcon="bus" tabTitle="Ruta" [root]="tab1" [tabBadge]="nuemeroViajes" tabBadgeStyle="danger"></ion-tab>
        <ion-tab tabIcon="contacts" tabTitle="Pasajeros" [root]="tab2" tabBadge="5" tabBadgeStyle="danger"></ion-tab>
    </ion-tabs>

</ion-content>

<ion-footer style="background-color:#222">

    <ion-row align-items-center>
        <ion-col class="col-border" col-auto>
            <div style="color:green;">Vehiculo :<label>{{viaje.asignacion.vehiculo.interno}} : {{viaje.asignacion.vehiculo.placa | uppercase}}</label></div>
        </ion-col>
        <ion-col class="col-border" col-auto>
            <div style="color:green;">Ruta :<label>{{viaje.ruta.codigo}} : {{viaje.ruta.nombre | uppercase}}</label></div>
        </ion-col>
        <ion-col class="col-border">
            <div style="color:green;">Hora llegada Calculada :<label> {{viaje.horaLlegadaAsignada | date:'mediumTime'}}</label></div>
        </ion-col>
        <ion-col class="col-border" col-auto>
            <div style="color:green;">Estado :<label> {{viaje.estado.mensaje | uppercase}}</label></div>
        </ion-col>
    </ion-row>
    <ion-row align-items-center>
            <ion-col class="col-border secondary" col-auto>
                    <div class="color-etiqueta">Inicia en :<label> {{viaje.ruta.origen.nombre | uppercase}}</label></div>
            </ion-col>
            <ion-col class="col-border" col-auto>
                    <div class="color-etiqueta">Termina en :<label> {{viaje.ruta.destino.nombre | uppercase}}</label></div>
            </ion-col>
            <ion-col class="col-border" col-auto>
                <div class="color-etiqueta">Hora Salida :<label> {{viaje.horaSalidaOperario | date:'mediumTime'}}</label></div>
            </ion-col>
            <ion-col class="col-border">
                <div class="color-etiqueta">Hora Salida Asignada :<label> {{viaje.horaLlegadaAsignada | date:'mediumTime'}}</label></div>
            </ion-col>
    </ion-row>

</ion-footer>