<ion-header>
    <ion-toolbar color="tabs">


        <ion-buttons>
            <button ion-button>
                        <ion-icon name="contact" style="font-size: 30px;"></ion-icon>
                        <ion-col>
                            {{this.operarioService.operario.nombre}}
                        </ion-col>
                    </button>

            <button ion-button>
                        {{this.operarioService.operario.empresa.nombre}}
                    </button>
            <button ion-button>
                        <span style="font-size: 30px;">{{fechaHora | date:'H:mm:ss'}}</span>
                    </button>
            <button ion-button>
                        <span>{{fechaHora | date:'dd-MMM-yyyy'}}</span>
                    </button>
            <button ion-button>
                    <ion-icon *ngIf="io.ioSocket.connected" name="checkmark-circle" color="secondary" style="font-size: 30px;"></ion-icon>
                    <ion-icon *ngIf="io.ioSocket.disconnected" name="close-circle" color="danger" style="font-size: 30px;"></ion-icon>
            </button>
        </ion-buttons>

        <ion-buttons end>
            <button ion-button icon-right large (click)="cerrarSession()">
                    <ion-icon name="exit" style="font-size: 30px;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content>


    <ion-tabs tabsHighlight="true" tabsPlacement="top" color="primary">
        <ion-tab tabIcon="bus" tabTitle="Principal" [root]="tab1" tabBadge="3" tabBadgeStyle="danger"></ion-tab>
        <ion-tab tabIcon="contacts" tabTitle="Pasajeros" [root]="tab2" tabBadge="5" tabBadgeStyle="danger"></ion-tab>
    </ion-tabs>

</ion-content>