page-counter {
    .puerta-abierta {
        .img {
            src: 'assets/icon/svg/puerta-abierta.svg';
            height: '70px'
        }
    }
    .puerta-cerrada {
        .img {
            src: 'assets/icon/svg/puerta-cerrada.svg';
            height: '70px'
        }
    }
}