// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  tab1:       #505AFF,
  tab2:       #BC35E8,
  tab3:       #FFF897,
  submenu:    #E84070,
  tabs:       #2f8ac7,
  save:       #23852e,
  menu:       #241f72,
  pulse:      grey   
);
//$tabs-md-tab-padding-top:50px;
//$tabs-md-tab-padding-active-top:50px;

//*******modificacion color del icono del tab activo*******
//$tabs-md-tab-icon-color-active: red;
//$tabs-md-tab-color-active:                color($colors, tabs);
//$tabs-md-tab-color:                       color($colors, tabs); 
$tabs-md-tab-opacity:0.4; // opacidad del tab inactivo
$tabs-md-tab-font-size-active:1.6rem; //tamaño del texto
$tabs-md-tab-icon-size:2.4rem; //tamaño icono



$fab-size:60px;
$fab-mini-size:50px;
$fab-content-margin:20px;
$fab-list-margin:20px;



$toggle-md-disabled-opacity: 0.7; // opacidad de fonfo toogle

$toolbar-md-height:40px;

$tabs-ios-tab-min-height:20px;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";



